.reveal p {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
}
